<table class="table table-striped">
    <thead class="">
        <tr>
            <th scope="col">Date & Time</th>
            <th scope="col">Duration (mins)</th>
            <th scope="col">Medical Practitioner</th>
            <th scope="col">Appointment State</th>
        </tr>
    </thead>
    <tbody class="bg-white">
        <!-- Loop to print out the user accounts -->
        @for (int i = 0; i < Model?.PatientAppointments?.Count; i++)
        {
        <tr>
            <td>@Model?.PatientAppointments[i]?.AppointmentDateTime.ToString()</td>
            <td>@Model?.PatientAppointments[i]?.AppointmentDurationInMins</td>
            <td>
                @(Model?.PatientAppointments[i]?.MedicalPractitionerDetails?.LastName + ","
                      + Model?.PatientAppointments[i]?.MedicalPractitionerDetails?.FirstName)
            </td>
            <td>@Model?.PatientAppointments[i]?.State</td>
        </tr>
        }
    </tbody>
</table>