@{
    ViewData["Title"] = "Reset Password";

}

@model UserPasswordResetDto
<!--Breadcrumb navigation-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-white" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a class="text-white" asp-controller="UserAdmin" asp-action="Index">User Administration</a></li>
        <li class="breadcrumb-item active text-white" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<div class="card table-blue-border w-50" style=" margin:auto;">
    <h3 class="card-header bg-dark-bl">@ViewData["Title"] for @Model.Username</h3>
    <div class="card-body w-100" style="margin: 0 auto">
        <div class="col-12">
            <form asp-action="ResetPassword" class="md-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" class="form-control" />
                <input type="hidden" asp-for="Username" class="form-control" />

                <div class="md-form">
                    <label for="Password" class="col-form-label">New password</label>
                    <input asp-for="Password" class="form-control" type="password" id="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="md-form">
                    <label for="PasswordConfirm" class="col-form-label">Confirm new password</label>
                    <input asp-for="PasswordConfirm" class="form-control" type="password" id="PasswordConfirm" />
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
                <!-- Login buttons-->
                <div class="form-group mt-4">
                    <input type="submit" value="Reset Password" class="btn btn-green-add" />
                    <a class="btn btn-grey-cancel" asp-controller="UserAdmin" asp-action="Index">Cancel</a>
                </div>

            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('.mdb-select').materialSelect();
        });
    </script>
}